<!-- <div class="container">
  <div *ngIf="countriesData">
    <div class="row mainContainer">
      <div *ngFor="let country of countriesData">
        <div class="col-6 col-md-4">
          <div class="card cardContainer" style="width: 18rem;">
            <img class="card-img-top" src={{country.flag}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{country.name}}</h5>
              <p class="card-text">
                Capital:{{country.capital}}
                <br/> -->
                <!-- [routerLink]="['/countries/lang',country.languages[0].iso639_1]" -->
                <!-- Language:
                <span *ngFor="let language of country.languages;let last=last">
                  <span class="goTo" (click)="goLanguage(language.iso639_1)">
                    {{language.name}}{{last?'.':','}}
                  </span>
                </span>
                <br/> -->
                <!-- [routerLink]="['/countries/currency',country.currencies[0].code]" -->
                <!-- Currency:
                <span *ngFor="let currency of country.currencies;let last=last">
                  <span class="goTo" (click)="goCurrency(country.currencies[0].code)">
                    {{currency.name}}{{last?'.':','}}
                  </span>
                </span>
              </p>
              <a [routerLink]="['/country',country.name]" class="btn btn-primary">view More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="goBack()" class="btn btn-warning" style="margin-bottom: 5%">Go Back</button>
    <button type="button" (click)="goRegion()" class="btn btn-secondary" style="margin: 0 0 5% 2%">Goto Regions</button>
  </div>
</div> -->

<div class="container-fluid" >
<app-shared [countriesData]="countriesData" (notifyLang)="goLanguage($event)" (notifyCurrency)="goCurrency($event)"></app-shared>
<div class="container">
    <button type="button" (click)="goBack()" class="btn btn-warning" style="margin-bottom: 5%">Go Back</button>
    <button type="button" (click)="goRegion()" class="btn btn-secondary" style="margin: 0 0 5% 2%">Goto Regions</button>
</div>
</div>