.border{
    border: 5px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin : 3%;
    color: rgb(84, 85, 85);
}

.regionName{
    font-size: 3vw;
    font-style: bold;
}


.border:hover {
    background-color: rgb(84, 85, 85); 
    color:white;
}