<div class="container">
  <div class="row">
    <div class="col-5 border">
      <div [routerLink]="['/countries/region/africa']" style="text-align: center;cursor:pointer">
        <img src="../../africa.png" class="img-fluid" alt="Responsive image">
        <span class="regionName">Africa</span>
      </div>
    </div>
    <div class="col-5 border">
      <div [routerLink]="['/countries/region/europe']" style="text-align: center;cursor:pointer">
        <img src="../../europe.jpg" class="img-fluid" alt="Responsive image">
        <span class="regionName">Europe</span>
      </div>
    </div>
    <div class="col-5 border">
        <div [routerLink]="['/countries/region/americas']" style="text-align: center;cursor:pointer">
          <img src="../../Americas.png" class="img-fluid" alt="Responsive image">
          <span class="regionName">Americas</span>
        </div>
      </div>
      <div class="col-5 border">
          <div [routerLink]="['/countries/region/oceania']" style="text-align: center;cursor:pointer">
            <img src="../../Oceania.jpg" class="img-fluid" alt="Responsive image">
            <span class="regionName">Oceania</span>
          </div>
        </div>
        <div class="col-5 border">
            <div [routerLink]="['/countries/region/asia']" style="text-align: center;cursor:pointer">
              <img src="../../Asia.jpg" class="img-fluid" alt="Responsive image">
              <span class="regionName">Asia</span>
            </div>
          </div>
  </div>
</div>