<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/regions']">Regions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    languages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item">
                        <form class="form-inline my-2 my-lg-0" #createBlogForm="ngForm" (ngSubmit)="searchLang()">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search by Language code" aria-label="Search" name="language" [(ngModel)]="lang" #name="ngModel" required> 
                            <button class="btn btn-outline-success my-2 my-sm-0"[disabled]="!createBlogForm.form.valid" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Currencies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item">
                        <form class="form-inline my-2 my-lg-0"#createBlogForm2="ngForm" (ngSubmit)="searchCurrency()">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search by Currency code"name="Currency" [(ngModel)]="currency" #name="ngModel" aria-label="Search" required>
                            <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="!createBlogForm2.form.valid" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>